body {
    background-color: black;
}

h1 {
    color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
    background-color: white;
    color: black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
}

.principalInput {
    width: 129px;
}

.years {
    width: 40px;
}

.inner {
    display: grid;
    grid-template-columns: 126px auto;
    margin: 0px 90px;
}

.result {
    grid-column-start: 1;
    grid-column-end: 3;
}

.table {
    text-align: left;
    margin: 0 auto;
}
